* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 1vh;
    gap: 1vh;
}

.left,
.right {
    border-radius: 1.13vh;
}

.left {
    width: 26.5vw;
}

.left-top,
.left-bottom {
    background-color: #121212;
    border-radius: 1.13vh;
}

.left-top {
    height: 7.64vh;
}

.left-bottom {
    margin-top: 1vh;
    height: 77.83vh;
}

.right {
    background-color: #121212;
    width: 72.19vw;
    height: 98vh;
}

.nevbar {
    background-color: #1F1F1F;
    width: 72.19vw;
    height: 7.64vh;
    border-radius: 1.13vh 1.13vh 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    margin-left: 0.8vw;
    
}

.hamburger:hover {
    transform: scale(1.1);
}

.sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4vw;
    margin-right: 0.8vw;
}

.in,
.up {
    cursor: pointer;
    font-size: 1em;
    padding: 1.1vh;
    border-radius: 30px;
    transition: all 1s ease-in-out;
}

.in:hover,
.up:hover {
    transform: scale(1.05);
}

.up:hover {
    transform: scale(1.05);
    color: #d9d9d9;
}

.up {
    background-color: #1F1F1F;
    color: #B3B3B3;
    border: none;
}

.in {
    padding: 1.1vh 0.97vw 1.1vh 0.97vw;
}

.left-top {
    display: flex;
    flex-direction: column;
}

.box {
    list-style: none;
    padding: 0;
    margin: 0;
}

.box li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.37vw;
    margin-top: 1vh;
}

.spotify {
    cursor: pointer;
    margin-top: 1.77vh;
    margin-left: 1.2vw;
    width: 8.06vw;
}

.searchicon {
    position: relative;
    width: 2.18vw;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.search {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    margin-left: 1.04vw;
}

.search input {
    opacity: 0.4;
    padding: 5.5px 100px 5.5px 10px;
    border-radius: 30px;
    text-align: start;
    transition: all 0.3s ease;
}

.search input::placeholder {
    text-align: center;

}

.search input::-webkit-search-cancel-button {
    margin-right: -90px;
}

.span {
    font-size: 1.2rem;
    margin-top: 2px;
    position: absolute;
    left: 4.4vw;
}

.library {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 10px;
}

.library img {
    margin-top: 2.08vh;
    margin-left: 1.52vw;
    width: 3.22vw;
    cursor: pointer;
}

.span2 {
    font-size: 1.69rem;
    margin-top: 3.75vh;
    margin-left: 0.4vw;
}

.plus {
    font-family: "Noto Serif JP", serif;
    cursor: pointer;
    margin-top: 4.05vh;
    margin-left: 7.38vw;
    font-size: 1.9rem;
}

.left-bottom {
    position: relative;
    height: 89.2vh;
}

.songcontainer {
    margin: 0 auto;
    max-height: 71.3vh;
    overflow-y: auto;
}

.songcontainer ul {
    width: 24vw;
    border: 2px solid grey;
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: 10px;
}

.songham {
    margin-left: 7px;
    cursor: grab;
}

.songcontainer ul li {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    color: #c9c9c9;
    align-items: center;
    width: 20vw;
    list-style: none;
    overflow-wrap: break-word;
    padding: 6px;
    margin: 6px;
}

.songplay {
    margin-right: 7px;
}

.songplay:hover,
.songham:hover {
    transform: scale(1.1);
}

.footer {
    width: 24vw;
    margin-left: 1.4vw;
    margin-top: 20px;
    display: flex;
    font-size: 0.81rem;
    gap: 0.3px;
    position: absolute;
    bottom: 0;
    padding: 1.3vh 0;
}

.footer a {
    text-decoration: none;
    color: #838383;
}

.footer a:hover {
    text-decoration: underline;
    color: #d6d5d5;
}

.heading {
    font-family: "Nunito", sans-serif;
    font-size: 2.8rem;
    margin: 10px 0px 0px 2.82vw;
    padding-bottom: 5px;
}

.cardcontainer {
    display: flex;
    width: 70.19vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    position: absolute;
    max-height: 71.8vh;
    overflow-y: auto;
    background-color: #121212;
    margin-left: 14px;
    padding-right: 7px;
}

.card {
    position: relative;
    width: 190px;
    height: 240px;
    border-radius: 8px;
    background-color: #171717;
    margin-top: 4px;
    overflow: hidden;
}

.card:hover {
    background-color: #212121;
}

.cimg {
    width: 170px;
    height: 170px;
    border-radius: 8px;
    margin: 10px 0px 0px 10px;
    z-index: 0;
}

.name {
    font-size: 20px;
    color: #ffffff;
    margin: 0px 0px 0px 12px;
}

.name:hover {
    color: #838383;
}

.description {
    color: #838383;
    margin: -3px 0px 0px 16px;
}

.description:hover {
    color: #ffffff;
}

.cardbtn {
    position: absolute;
    right: 12px;
    bottom: -10px;
    width: 50px;
    z-index: 10;
    opacity: 0;
    transition: bottom 0.3s ease-out, opacity 0.3s ease-out;
}

.cardbtn:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.card:hover .cardbtn {
    bottom: 60px;
    opacity: 0.92;
}

.play {
    position: fixed;
    background-color: #474747a8;
    border-radius: 0 0 1.13vh 1.13vh;
    width: 72.19vw;
    height: 9.9vh;
    bottom: 9px;
}

.seekbar {
    width: 97%;
    height: 6px;
    background: rgba(255, 255, 255, 0.301);
    border-radius: 50px;
    margin: 8px 10px;
    position: absolute;
    cursor: pointer;
}

.progress {
    width: 0%;
    height: 100%;
    background: rgb(147, 225, 157);
    border-radius: 50px;
    position: relative;
    top: 0;
    left: 0;
    pointer-events: none;
}

.circle {
    width: 14px;
    height: 14px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    bottom: 2.5px;
    transform: translate(-50%, -50%);
    left: 0%;
    cursor: grab;
    pointer-events: auto;
}

.songname {
    font-family: "Nunito", sans-serif;
    color: #838383;
    font-size: 0.84rem;
    width: 24.193vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.2;
    margin-top: 2.258vw;
    margin-left: 0.967vw;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 2.4em;
}

.songname.long-name {
    font-size: 0.82rem;
}

.buttons {
    width: 12vw;
    display: flex;
    justify-content: space-around;
    gap: 2.4vw;
    margin: -2.5vw 27.8vw;
}

.loop {
    width: 24px;
    height: 24px;
    margin-left: 2.016vw;
}

.shuffle {
    width: 24px;
    height: 24px;
    margin-right: 2.016vw;
}

.volumecont {
    width: 11.29vw;
    float: right;
    display: flex;
    flex-direction: column;
    margin-right: 0.96vw;
    margin-top: -4px;
}

.time {
    margin-left: 3.06vw;
}

.vol {
    margin-top: -2px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.volume {
    transition: transform 0.3s ease-out;
    opacity: 0;
}

.range {
    position: relative;
    width: 100px;
    height: 7px;
    background: rgba(255, 255, 255, 0.301);
    border-radius: 60px;
    opacity: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;
}

.range input {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: grab;
    z-index: 2;
}

.volume-progress {
    position: absolute;
    height: 100%;
    background: rgb(147, 225, 157);
    border-radius: 60px;
    pointer-events: none;
    cursor: pointer;
    width: 40%;
    z-index: 1;
    left: 0;
}

.volume-circle {
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    z-index: 3;
    left: 40%;
    transform: translateX(-50%);
    pointer-events: none;
    cursor: grab;
}

.play:hover .range {
    opacity: 1;
}

.play:hover .volume {
    opacity: 1;
}